/public/
/resources/_gen/
/assets/jsconfig.json
.hugo_build.lock

# Latex files
./static/files/resume/resume*.aux
./static/files/resume/resume*.bcf
./static/files/resume/resume*.log
content/publications/2013_111_24_Picallo_Physical_review_letters_Nanofluidic_osmotic_diodes:/index.md
content/publications/2013_111_24_Picallo_Physical_review_letters_Nanofluidic_osmotic_diodes:/index.md
content/publications/2013_111_24_Picallo_Physical_review_letters_Nanofluidic_osmotic_diodes:/index.md
content/publications/2015_Gravelle_These_Nanofluidics:_a_theoretical/index.md
content/publications/2016_Gravelle_HAL_Nanofluidics:_a_pedagogical/index.md
